:root{
    --borda:8px;
    --altura-quadrado:4em;
    --gap:0.5em;
    --div:18.5em;
    --header:20em;
    --font-botao:2em;
    --font-titulo:3em;
    --font-pontuacao:1.5em;
    --font-disclaimer:1.5em;
}
body{
    background: #FBF8EF;
}
header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    width: 700px;
    gap: 10px;
}
.header-titulo{
    grid-row-start: 1;
    grid-row-end: 3;
    
    background-color: #ECCC5F;
    border-radius: var(--borda);
    
    color: white;
    font-weight: bold;
    font-size: var(--font-titulo);

    display: flex;
    align-items: center;
    justify-content: center;
}

.pontuacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #3D3A33;
    padding-bottom: 1em;
    border-radius: var(--borda);

    color: white;
    font-size: var(--font-pontuacao);
}
.pontuacao p{
    color: #DAD2C8;
}

#reiniciar{
    grid-column-start: 2;
}
#desfazer{
    grid-column-start: 3;
}
header button{
    background-color: #F75E3E;
    border-radius: var(--borda);
    border-color: #F75E3E;
 
    color: white;
    font-weight: bold;
    font-size: var(--font-botao);

    box-shadow: none;
    outline: none;
}
.disclaimer{
    text-align: center;
    margin: 1em 0;
    color: #A49381;
    font-size: var(--font-disclaimer);
    font-weight: bold;
}
/*
A partir daqui é a área principal do jogo
*/
.box-principal{
    background-color: #A49381;
    margin: 0 auto;
    width: var(--div);
    padding: var(--gap);
    border-radius: var(--borda);
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: var(--gap);
}
.box-singular{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC1B2;
    height: var(--altura-quadrado);
    border-radius: var(--borda);
    font-weight: bold;
}