:root{
    --borda:8px;
    --altura-quadrado:4em;
    --gap:0.5em;
    --div:18.5em;
    --header:20em;
    --font-botao:1.6em;
    --font-titulo:3em;
    --font-pontuacao:1.5em;
    --font-disclaimer:1.5em;
    --tamanho-seta:42px;
}
body{
    background: #FBF8EF;
}
header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 6.5em 4em;
    margin: 0 auto;
    width: 700px;
    gap: 10px;
}
.header-titulo{
    grid-row-start: 1;
    grid-row-end: 3;
    
    background-color: #ECCC5F;
    border-radius: var(--borda);
    
    color: white;
    font-weight: bold;
    font-size: var(--font-titulo);

    display: flex;
    align-items: center;
    justify-content: center;
}

.pontuacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #3D3A33;
    padding-bottom: 1em;
    border-radius: var(--borda);

    color: white;
    font-size: var(--font-pontuacao);
}
.pontuacao p{
    color: #DAD2C8;
}

#reiniciar{
    grid-column-start: 2;
}
#desfazer{
    grid-column-start: 3;
}
header button{
    background-color: #F75E3E;
    border-radius: var(--borda);
    border-color: #F75E3E;
 
    color: white;
    font-weight: bold;
    font-size: var(--font-botao);

    box-shadow: none;
    outline: none;
}
.disclaimer{
    text-align: center;
    margin: 1em auto;
    color: #A49381;
    font-size: var(--font-disclaimer);
    font-weight: bold;
    width: fit-content;
}
.quebra_linha{
    display: none;
}
/*
A partir daqui é a área principal do jogo
*/
.box-principal{
    background-color: #A49381;
    margin: 0 auto;
    width: var(--div);
    padding: var(--gap);
    border-radius: var(--borda);
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: var(--gap);
}
.box-singular{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC1B2;
    height: var(--altura-quadrado);
    border-radius: var(--borda);
    font-weight: bold;
}
/*Setas de navegação para mobile*/
.mobile_setas{
    display: none;
}

.seta{
    background: transparent;
    border: none;
    height: var(--tamanho-seta);
    padding: 4px;
}
.seta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cima{
    transform: rotate(270deg);

}
#baixo{
    transform: rotate(90deg);
}
#esquerda{
    transform: rotate(180deg);
}
/*
Colocando responsividade para tela mobile grandes
*/
@media only screen and (max-width:724px) {
    header{
        width: 100%;
        margin: 0 12px;
        gap:5px
    }
    #instrucao{
        display: none;
    }
    .disclaimer:last-of-type{
        text-align: left;
        margin: 1em 0;
    }
    .quebra_linha{
        display: block;
    }
    footer{
        width: 350px;
        margin: .5em auto;
        display: grid;
        grid-template-columns: 200px 150px;
        grid-template-rows: 1fr;
    }
    .mobile_setas{
        display: grid;
        grid-template-columns: repeat(3,var(--tamanho-seta));
        grid-template-rows: repeat(3,var(--tamanho-seta));

        grid-row-start: 1;
        grid-column-start: 2;

        justify-content: end;
    }
    #cima{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    #baixo{
        grid-row-start: 2;
        grid-column-start: 2;
    }
    #esquerda{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    #direita{
        grid-row-start: 2;
        grid-column-start: 3;
    }
    #ativar_controle{
        display: block;

        grid-row-start: 1;
        grid-column-start: 2;
    }
}
/*
Colocando responsividade para tela mobile pequenas
*/
@media only screen and (max-width:500px) {
    :root{
        --font-botao:1.3em;
        --font-titulo:2em;
        --font-pontuacao:1.2em;
        --font-disclaimer:1em;
        --borda:4px;
    }
    header{
        width: 100%;
        margin: 0 0;
        gap:2px
    }
    .box-principal{
        width: 100%;
        margin: 0 auto;
        gap:0.35em;
        padding: 0.35em;
        max-width: var(--div);
    }
    #instrucao{
        display: none;
    }
    .disclaimer{
        margin: 0.5em 0;
    }
    .disclaimer:last-of-type{
        text-align: left;
    }
    .quebra_linha{
        display: block;
    }
    footer{
        width: 19em;
        margin: .5em auto;
        display: grid;
        grid-template-columns: repeat(2,150px);
        grid-template-rows: 1fr;
    }
    .mobile_setas{
        display: grid;
        grid-template-columns: repeat(3,var(--tamanho-seta));
        grid-template-rows: repeat(3,var(--tamanho-seta));

        grid-row-start: 1;
        grid-column-start: 2;

        justify-content: end;
    }
    #cima{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    #baixo{
        grid-row-start: 2;
        grid-column-start: 2;
    }
    #esquerda{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    #direita{
        grid-row-start: 2;
        grid-column-start: 3;
    }
    #ativar_controle{
        display: block;

        grid-row-start: 1;
        grid-column-start: 2;
    }   
}